<button (click)="logout()">Log out</button>
<br />
<br />

<button routerLink="/list">list Page</button>

<br />
<br />

<h1>Edit task</h1>
<div *ngIf="tasks">
    <form [formGroup]="updatedTask" (ngSubmit)="updateTask()">
        <label>
            Title:
            <input type="text" formControlName="title">
        </label>

        <label>
            Status:
            <select formControlName="status">
                <option value="todo">TO DO</option>
                <option value="inprogress">In Progress</option>
                <option value="done">Done</option>
            </select>
        </label>
    
        <label>
            date:
            <input type="date" formControlName="date">
        </label>


        <button type="submit">Submit</button>
    </form>
</div>
<div *ngIf="!tasks">
    No Data
</div>